<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Happy Chat</title>
  <style></style>
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="./libs/element-ui/lib/theme-chalk/index.css" />

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <!-- <script src="./libs/vue@2.6.11"></script> -->
  <script src="./libs/element-ui/lib/index.js"></script>
  <script src="./libs/socket.io.js"></script>
</head>

<body>
  <div id="app">
    <div id="content">
      <template v-for="item in msgData">
        <p v-if="item.type == 1">
          <i>系统消息：</i><span>{{item.msg}}</span>
        </p>
        <p v-else><i>{{item.user}}：</i><span v-html="transEmoji(item.msg)"></span></p>
      </template>
    </div>
    <div class="bot">
      <div class="input-box">
        <div class="emoji-box">
          <el-popover placement="top" width="240" trigger="click" visible-arrow="true" popper-class="popper-emoji">
            <div>
              <template v-for="num in emojiData">
                <img :src="'./images/face/'+num+'.gif'" @click="pushEmoji(num)" alt="">
              </template>

            </div>
            <i slot="reference" class="el-icon-s-opportunity tool-btn"></i>
          </el-popover>
        </div>

        <textarea type="text" v-model="message" @focus="End($event)" @keyup.enter="say" :disabled="!socket"></textarea>
        <button class="el-button el-button--primary el-button--large" type="button" @click="say">
          <span>发送消息</span>
        </button>
      </div>
      <div>
        <i class="tool-btn el-icon-menu" @click="drawer = true"></i>
      </div>
    </div>

    <el-drawer title="我是标题" :visible.sync="drawer" :with-header="false" custom-class="my-drawer">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="用户管理" name="first">
          <div style="text-align:center;">
            <el-upload class="avatar-uploader" action="http://localhost:3000/upload/profile" :accept="'image/*'"
              :show-file-list="false" :on-success="handleAvatarSuccess" name='avatar'>
              <el-avatar v-if="form.head_img" size="large" :src="form.head_img"></el-avatar>
                <el-avatar v-else size="large" src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png">
              </el-avatar>
            </el-upload>

          </div>
          <el-form ref="form" :model="form" label-width="40px">
            <el-form-item label="名称">
              <el-input v-model="form.username" disabled placeholder="输入昵称"></el-input>
            </el-form-item>
            <el-form-item label="简介">
              <el-input v-model="form.desc" @blur="updateDesc" type="textarea" :autosize="{ minRows: 4, maxRows: 4 }" placeholder="说点什么"></el-input>
            </el-form-item>
            <!-- <div style="text-align: center;">
              <button class="el-button el-button--primary el-button--large" type="button" @click="connect">
                <span>连接</span>
              </button>
            </div> -->

          </el-form>
        </el-tab-pane>
        <el-tab-pane label="配置管理" name="second">
          <el-form ref="form" :model="form" label-width="40px">
            <el-form-item label="主题">
              <el-select v-model="form.theme_img" placeholder="请选择" @change="setTheme">
                <el-option v-for="item in themeData" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="样式">
              <el-select v-model="form.theme_style" placeholder="请选择" @change="setTheme">
                <el-option v-for="item in themeStyle" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>

          </el-form>
        </el-tab-pane>
      </el-tabs>

    </el-drawer>

    <el-dialog :visible.sync="dialogVisible" width="400px" :title="1" :close-on-click-modal='false'
      :close-on-press-escape='false' custom-class="my_dialog" :show-close='false'>
      </span>

      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="登录" name="first">
          <el-form ref="form" :model="loginForm" label-width="80px">
            <el-form-item label="用户名称">
              <el-input v-model="loginForm.username"></el-input>
            </el-form-item>
            <el-form-item label="用户密码">
              <el-input type="password" v-model="loginForm.password"></el-input>
            </el-form-item>
            <div style="text-align: center;">
              <el-button type="primary" @click="toLogin">立即登录</el-button>
            </div>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="注册" name="second">
          <el-form ref="form" :model="signForm" label-width="80px">
            <el-form-item label="用户名称">
              <el-input v-model="signForm.username"></el-input>
            </el-form-item>
            <el-form-item label="用户密码">
              <el-input type="password" v-model="signForm.password"></el-input>
            </el-form-item>
            <div style="text-align: center;">
              <el-button type="primary" @click="toSign">立即注册</el-button>
            </div>
          </el-form>
        </el-tab-pane>
      </el-tabs>

    </el-dialog>
  </div>

  <script>
    // import Vue from 'vue';

    import { post, fetch, patch, put } from './utils/http'
    import $ from 'jquery'

    //定义全局变量
    Vue.prototype.$post = post;
    Vue.prototype.$fetch = fetch;
    Vue.prototype.$patch = patch;
    Vue.prototype.$put = put;


    new Vue({
      el: '#app',
      data: {
        host: 'http://localhost:3000',
        // host:'http://www.hh666.wang:3000',
        message: '',
        socket: '',
        msgData: [],
        emojiData: [],
        drawer: false,
        dialogVisible: true,
        activeName: 'first',
        themeData: [{ value: '12', label: '默认' }, { value: '1', label: '深林雪' }, { value: '2', label: '圣诞果' }, { value: '3', label: '绿意饼' }, { value: '4', label: '黄昏海' }, { value: '5', label: '赤焰红' }, { value: '6', label: '敦煌画' }, { value: '7', label: '可爱杯' }, { value: '8', label: '小甜心' }, { value: '9', label: '爱学习' }, { value: '10', label: '草麦地' }, { value: '11', label: '彩虹人' }],
        themeStyle: [{ value: 'bg', label: '清晰' }, { value: 'mh', label: '模糊' }],
        form: {
          // name: '',
          // backImg: '12',
          // style: 'mh'
        },
        loginForm: {},
        signForm: {}
      },
      mounted() {
        for (let i = 1; i < 72; i++) {
          this.emojiData.push(i)
        }
      },
      methods: {
        connect() {
          let _this = this
          let nickName = this.form.username
          // 建立连接
          if (!nickName) {
            this.$message.error('请输入昵称，再进行连接^_^');
            return
          }
          // 建立连接
          if (this.socket) {
            this.socket.close() // 断开连接
          }

          this.socket = io.connect(this.host)

          // 设置昵称
          this.socket.emit('setName', { nickName })
          this.drawer = false

          // 监听 message 会话
          this.socket.on('system', function (data) {
            data.type = 1
            _this.msgData.push(data)
            console.log(data)
          })

          this.socket.on('chat', function (data) {
            _this.msgData.push(data)
            _this.goBot()
            console.log(data)
          })
        },
        // 按钮点击事件
        say() {
          let _this = this
          if (!this.socket) {
            this.$message.error('请先进行连接');
            this.drawer = true
            return
          }
          let msg = _this.message
          if (!msg) return
          let html = document.createElement('p')
          this.socket.emit('say', { msg })
          _this.message = ''
        },
        // 滚动条滚到最下面
        goBot() {
          var scrollHeight = $('#content').prop('scrollHeight')
          console.log(scrollHeight)

          $('#content').animate(
            {
              scrollTop: scrollHeight,
            },
            500
          )
        },
        transEmoji(str) {
          str = str.replace(/\[em_([0-9]*)\]/g, '<img src="./images/face/$1.gif" alt="" />');
          return str
        },
        pushEmoji(num) {
          this.message = this.message + '[em_' + num + ']'
        },
        End(e) { //input获取光标显示在最后
          let obj = e.srcElement;
          obj.focus();
          const len = obj.value.length;
          //光标定位要加上 setTimeOut，不然就会重新光标定位失败
          setTimeout(() => {
            obj.selectionStart = obj.selectionEnd = len;
          }, 60)
        },
        handleClick(tab, event) {
          console.log(tab, event);
        },
        // 设置主题背景
        setTheme() {
          console.log('aaa')
          document.querySelector('html').style.background = 'url(./images/theme/' + this.form.theme_img + '_' + this.form.theme_style + '.jpg) no-repeat fixed top';
          document.querySelector('html').style.backgroundSize = 'cover';
        },
        toLogin() {
          var _this = this;
          this.$post("/users/login", _this.loginForm).then(res => {
            console.log(res);
            if (res.status == 200) {
              _this.$message.success(res.msg)
              _this.form = res.data[0]
              _this.dialogVisible = false
              _this.connect()
            } else {
              _this.$message.error(res.msg)
            }
          });
        },
        toSign() {
          var _this = this;
          this.$post("/users/sign", _this.signForm).then(res => {
            console.log(res);
            if (res.status == 200) {
              _this.$message.success(res.msg)
              _this.form = res.data[0]
              _this.dialogVisible = false
              _this.connect()
            } else {
              _this.$message.error(res.msg)
            }
          });

        },
        // 图片上传成功
        handleAvatarSuccess(res, file, fileList) {
          if(res.status == 200){
            // 更新个人信息
            this.updateUser({
              user_id:this.form.user_id,
              head_img:res.filepath
            },1)
          }
        },
        updateUser(data,type){
          var _this = this;
          this.$fetch("/users/updateUser",data).then(res => {
            console.log(res);
            if (res.status == 200) {
              _this.$message.success(res.msg)
              if( type ==1 ){
                console.log(type)
                _this.form.head_img = data.head_img
              }
            } else {
              _this.$message.error(res.msg)
            }
          });

        },
        updateDesc(){
           // 更新个人信息
           this.updateUser({
              user_id:this.form.user_id,
              desc:this.form.desc
            })
        }
      },
    })
  </script>
</body>

</html>